h1
{
  font-family: arial;
}

/* gamefield default styles */
table.game, .game td
{
  border-collapse: collapse;
  border: 1px solid #000;
  margin: 0;
  padding: 0;
}

/* black cell (empty) */
.game td.e
{
  background: #333;
}

/* white cell (blinking) */
.game td.w
{
  background: #fff;
}

/* cyan cell (pushed elements) */
.game td.p
{
  background: #0fc;
}

/* blue cell (2x2 block) 

  ##
  ##

*/
.game td.b
{
  background: #34f;
}

/* red cell (4x1 row)

  ####

*/
.game td.r
{
  background: #d20;
}

/* yellow cell (triangle)

  ###
   #

*/
.game td.t
{
  background: #fc0;
}

/* orange cell (z-element)

  ##
   ##

*/
.game td.z
{
  background: #d60;
}

/* magenta cell (s-element)

   ##
  ##

*/
.game td.s
{
  background: #b2a;
}

/* green cell (l-element)

  #
  #
  ##

*/
.game td.l
{
  background: #3b0;
}

/* lightblue cell (anti l-element)

   #
   #
  ##

*/
.game td.a
{
  background: #29f;
}
